---
- name: 'Create Compute Profiles'  # noqa: args[module]
  redhat.satellite.compute_profile:
    username: "{{ satellite_username | default(omit) }}"
    password: "{{ satellite_password | default(omit) }}"
    server_url: "{{ satellite_server_url | default(omit) }}"
    validate_certs: "{{ satellite_validate_certs | default(omit) }}"
    name: "{{ item.name }}"
    compute_attributes: "{{ item.compute_attributes | default(omit) }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ satellite_compute_profiles }}"
