name: release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'RedHatSatellite/satellite-ansible-collection'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Ansible
        run: pip install --upgrade ansible py antsibull-changelog
      - name: Build Ansible Collection
        run: make dist
      - name: Build Changelog
        run: antsibull-changelog generate --output release-changelog.txt --only-latest
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: redhat-satellite-*.tar.gz
          body_path: release-changelog.txt
